#animeboyRB {
    position: absolute;
    width: 100vh;
    height: 60vh;
    border-radius: 80% 70px 80em 20%;
    margin: 10vh 10vh;
    filter: brightness(1%);
    filter: contrast(3);
    filter: saturate(1.3);
    filter: drop-shadow(4px 1px 20px red);
}

#animeboyRB:hover {
    cursor: pointer;
    filter: brightness(100%);
    filter: drop-shadow(4px 1px 10px rgb(86, 250, 130));
}